* {
    user-select: none;
    font-family: sans-serif;
    font-weight: bold;
}

input {
    position: relative;
    top: 100px;
    right: 40%;
    margin: 0 5% 0 5%;
}

.randcolor {
    position: relative;
    right: 10%;
    top: 200px;
    width: 30%;
    height: 60px;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 170%;
    cursor: pointer;
}

@media (max-width: 750px) {
    .randcolor {
        right: 0%;
    }
}

@media (max-width: 640px) {
    input {
        right: 30%;
    }
}

@media (max-width: 530px) {
    .randcolor {
        width: 60%;
        right: 20%;
    }
}